@charset "UTF-8";

html,
body {
	height: 100%;
	font-family: "Muli", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

#main-header{
	background: #fff;
}

.form-inline > div.input-group > input {
	width: 600px;
	border-bottom: 2px solid #e7ab3c;
}

.form-inline > div.input-group > input:focus {
	border: 1px solid black;
}

.form-inline > div.input-group > div.input-group-append > button {
	background: #e7ab3c;
	border: transparent !important;
	border-radius: 2px;
}

.nav-item{
	color:#000000; /*#52796f;*/
}

.nav-tabs > a.active > i{
	color: #000000;
}

.nav-tabs > a.active > span{
	color: #000000;
}

#nav-submenu{
	border-bottom: 1px solid #e7ab3c;
}

#nav-submenu > a.active{
	border-left: 1px solid #e7ab3c;
	border-top: 1px solid #e7ab3c;
	border-right: 1px solid #e7ab3c;
}

.nav-item:hover{
	color: white;
	background: #e7ab3c;	
}

nav-item:active{
	color: white;
	background: #e7ab3c;
}


.pageheading{
	color: black;
}

input{
	border: 1px solid;
	border-radius: 3px;
	border-color: black;
	height: 25px;
}

/* buttons */
.site-button{
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	padding: 12px 30px;
	color: #ffffff;
	background: #e7ab3c;
	border: 1px solid #e7ab3c;
	border-radius: 3px;
	text-transform: uppercase;
}

button[type=submit]{
	font-weight:bold;
}

button:hover{
	background-color: #e7ab3c;
	color: #072F54;
}















