@charset "UTF-8";

html,
body {
	height: 100%;
	font-family: "Muli", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.nav-item{
	color:#52796f;
}

.active-icon{
	color:#52796f;
}

.active-text{
	color:#52796f;
}
.nav-item:hover{
	color: white;
	background: #e7ab3c;	
}

.pageheading{
	color: black;
}

input{
	border: 1px solid;
	border-radius: 3px;
	border-color: black;
	height: 25px;
}

/* buttons */
.site-button{
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	padding: 12px 30px;
	color: #ffffff;
	background: #e7ab3c;
	border: 1px solid #e7ab3c;
	border-radius: 3px;
	text-transform: uppercase;
}

button[type=submit]{
	font-weight:bold;
}

button:hover{
	background-color: #e7ab3c;
	color: #072F54;
}















