@charset "UTF-8";

/*Color palette:
-  black
-  #fff
- #ffbc42
- #89c4f4
- #e7ab3c
- #000000
- #0077b6
- 

*/

html,
body {
	margin: 0!important;
    padding-top: 0!important;
    background-color: #f1f2f4;
	font-family: "Muli", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    color: #333;
}

/* main header section */

#main-header{
	background: #fff;
}

#main-header > a.navbar-brand > span.navbar-text {
	color: black;
}

#main-header > span.navbar-text{
	color: black;
}

#main-header > span.navbar-text > i {
	color: #ffbc42;
}

#main-header > span.navbar-text > a > i {
	color: #ffbc42;
}

.logout-link > span:hover {
	color: #0077b6;
}
/* search input and search button */
.form-inline > div.input-group > input {
	width: 650px;
	border-bottom: 1px solid #89c4f4; /*#89c4f4 #0077b6*/
}

.form-inline > div.input-group > input:focus {
	border: 1px solid #89c4f4;
}

.form-inline > div.input-group > div.input-group-append > button {
	background: #e7ab3c;
	border: transparent !important;
	border-radius: 2px;
}

.form-inline > div.input-group > div.input-group-append > button:hover {
	background: #ffbc42;
	border: transparent !important;
	border-radius: 2px;
}

/* navigation bar */
.nav-item{
	color:#000000; /*#52796f; f8961e*/
}

.nav-tabs > a.active > i{
	color: #000000;
}

.nav-tabs > a.active > span{
	color: #000000;
}

#nav-submenu{
	border-bottom: 1px solid #ffbc42;
}

#nav-submenu > a.active{
	border-left: 1px solid #ffbc42;
	border-top: 1px solid #ffbc42;
	border-right: 1px solid #ffbc42;
}

.nav-tabs > a.nav-link:not(.active):hover{
	color: #0077b6;
	border: 1px solid transparent;
}

/* page heading */
.pageheading{
	color: black;
}

/* input text boxes */
input{
	border: 1px solid;
	border-radius: 3px;
	border-color: black;
	height: 25px;
}

/* buttons */
.site-button{
	font-size: 14px;
	font-weight: 700;
	padding: 12px 30px;
	color: black;
	background: #e7ab3c;
	border: 1px solid #e7ab3c;
	border-radius: 3px;
	text-transform: uppercase;
}

.site-button:hover,
.site-button:active,
.site-button:visited,
.site-button:focus{
	border: 1px solid #e7ab3c !important;
	border-color: #ffbc42;
	background-color: #ffbc42;
	color: black;
	outline:none;
	box-shadow: 0 0 0 2px rgba(21, 156, 228, 0.4);
}

















